/**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

.text-center {
    text-align: center;
}

.margin-top-40 {
    margin-top: 40;
}

.container-cabecalho {
    text-align: center;
    padding: 20px;
    background-color: #04233f;
}

.container-cabecalho h3 {
    font-size: 2.em;
    color: rgb(77, 80, 228);
}

.container-navegacao {
    text-align: center;
    padding: 60px;
    background-color: #06345D;
}

.container-navegacao a {
    color: white;
    text-decoration: none;
    margin: 0 50px;
}

/* Ao passar o mouse*/
.container-navegacao a:hover {
    color: #1190ff;
}

.container-quem-somos {
    background-color: #05192a;
    overflow: auto;
}

.container-quem-somos .servico{
    margin: 10px auto;
    background-color: #061f35;
    width: 50%;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #1190ff;
    box-shadow: 0px 0px 5px #8ea2b3;
}

.container-quem-somos .servico .icone {
    margin-bottom: 20px;
}

.container-quem-somos .servico-texto {
    font-size: 1.2em;
    margin-top: 20px;
    color: #81c4ff;
    font-family: 'Courier New', Courier, monospace;
}

.container-quem-somos .servico-texto-realce {
    color: rgb(172, 255, 149);
    font-weight: bold;
}

.container-servicos-contatos {
    background-color: #01073d;
    padding: 80px;
}

/* Criando os botões */
.container-servicos-contatos .botoes-servicos-contatos {
    padding: 60px;
    text-align: center;
}

.botoes-servicos-contatos a{
    display: block;
    max-width: 200px;
    text-decoration: none;
    font-size: 1.2em;
    background-color: #008eb9;
    color: rgb(35, 10, 124);
    padding: 20px 60px;
    margin: 10px auto;
    border-radius: 20px;
}

.botoes-servicos-contatos a:hover {
    background-color: #ffffff;
    color: rgb(2, 0, 65);
    
}

.container-servicos {
    font-size: 1.1em;
    
}